---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=denver,%20co&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MY_1jwOR08zkCfyLP-EveX5DyIgspVQjh8xvK3nRba4DBoqjUZ_qNbLuyzIoRVlyXuP8I0XJUBauEfo1H2qI0rMgaUPCGzC6Zqr0VvG6xElSQG3JxirJabKFWCbxYnYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '5000'
      Ratelimit-Resettime:
      - '2022-08-09T00:00:00+00:00'
      X-Zipkin-Id:
      - a6b1d3a60eaa8fda
      X-Routing-Service:
      - routing-main--useast1-5db947469f-75b82; site=public_api_v3
      Ratelimit-Remaining:
      - '4950'
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "Yb4iTpZ3SjSEenqY6XMbFA", "alias": "taste-of-china-denver",
        "name": "Taste of China", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/jeBKUZqU9TxsDp4Y5HnHFg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/taste-of-china-denver?adjust_creative=aQQIcQfFYawLYU85oGRxhQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=aQQIcQfFYawLYU85oGRxhQ",
        "review_count": 150, "categories": [{"alias": "chinese", "title": "Chinese"},
        {"alias": "thai", "title": "Thai"}, {"alias": "asianfusion", "title": "Asian
        Fusion"}], "rating": 4.5, "coordinates": {"latitude": 39.74702, "longitude":
        -105.02571}, "transactions": ["pickup", "delivery"], "price": "$$", "location":
        {"address1": "1935 Federal Blvd", "address2": "", "address3": null, "city":
        "Denver", "zip_code": "80204", "country": "US", "state": "CO", "display_address":
        ["1935 Federal Blvd", "Denver, CO 80204"]}, "phone": "+13034772204", "display_phone":
        "(303) 477-2204", "distance": 4901.717617542795}, {"id": "VOhBjGoL12ss4f0pxBfoVA",
        "alias": "pepper-asian-bistro-ii-denver", "name": "Pepper Asian Bistro II",
        "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/KZzxO_9sbWFj3C8hmhIWAg/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/pepper-asian-bistro-ii-denver?adjust_creative=aQQIcQfFYawLYU85oGRxhQ&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=aQQIcQfFYawLYU85oGRxhQ",
        "review_count": 425, "categories": [[...]
