---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 01:34:53 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1099473960"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=747268105"}]}]}'
  recorded_at: Mon, 08 Aug 2022 01:34:53 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f5eb801f62b34ffdb566872965d38f5d&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659922494,"sunrise":1659873875,"sunset":1659924411,"temp":66.52,"feels_like":66.54,"pressure":1019,"humidity":78,"dew_point":59.45,"uvi":0,"clouds":100,"visibility":3964,"wind_speed":4,"wind_deg":53,"wind_gust":13,"weather":[{"id":500,"main":"Rain","description":"light
        rain","icon":"10d"}],"rain":{"1h":0.21}},"hourly":[{"dt":1659920400,"temp":67.12,"feels_like":67.1,"pressure":1019,"humidity":76,"dew_point":59.31,"uvi":0.03,"clouds":100,"visibility":4007,"wind_speed":9.75,"wind_deg":287,"wind_gust":14.81,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":1,"rain":{"1h":3.71}},{"dt":1659924000,"temp":66.52,"feels_like":66.54,"pressure":1019,"humidity":78,"dew_point":59.45,"uvi":0,"clouds":100,"visibility":3964,"wind_speed":11.97,"wind_deg":17,"wind_gust":16.15,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.8},{"dt":1659927600,"temp":66.51,"feels_like":66.58,"pressure":1020,"humidity":79,"dew_point":59.79,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":10.96,"wind_deg":49,"wind_gust":18.3,"[...]
