---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&location=cow
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 16:32:50 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"cow"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Chouy","adminArea5Type":"City","adminArea4":"Aisne","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282386838","unknownInput":"","type":"s","latLng":{"lat":49.206667,"lng":3.248889},"displayLatLng":{"lat":49.206667,"lng":3.248889},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&type=map&size=225,160&locations=49.206667,3.248889|marker-sm-50318A-1&scalebar=true&zoom=12&rand=2141997170"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Choye","adminArea5Type":"City","adminArea4":"Haute-Sa\u00F4ne","adminArea4Type":"County","adminArea3":"","adminArea3Type":"State","adminArea1":"FR","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuali[...]
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f5eb801f62b34ffdb566872965d38f5d&exclude=minutely,alerts&lat=49.206667&lon=3.248889&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":49.2067,"lon":3.2489,"timezone":"Europe/Paris","timezone_offset":7200,"current":{"dt":1659976370,"sunrise":1659932916,"sunset":1659986209,"temp":82.54,"feels_like":80.33,"pressure":1021,"humidity":22,"dew_point":39.9,"uvi":0.77,"clouds":12,"visibility":10000,"wind_speed":13.71,"wind_deg":35,"wind_gust":14.52,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}]},"hourly":[{"dt":1659974400,"temp":83.12,"feels_like":80.69,"pressure":1021,"humidity":21,"dew_point":39.18,"uvi":1.77,"clouds":12,"visibility":10000,"wind_speed":13.4,"wind_deg":34,"wind_gust":14.27,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1659978000,"temp":82.54,"feels_like":80.33,"pressure":1021,"humidity":22,"dew_point":39.9,"uvi":0.77,"clouds":12,"visibility":10000,"wind_speed":13.71,"wind_deg":35,"wind_gust":14.52,"weather":[{"id":801,"main":"Clouds","description":"few
        clouds","icon":"02d"}],"pop":0},{"dt":1659981600,"temp":82.42,"feels_like":80.29,"pressure":1021,"humidity":23,"dew_point":40.95,"uvi":0.22,"clouds":12,"visibility":10000,"wind_speed":12.88,"wind_deg":32,"wind_gust":16.4,"weather":[{"id":801,"m[...]
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?location=cow&term=chinese
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer MY_1jwOR08zkCfyLP-EveX5DyIgspVQjh8xvK3nRba4DBoqjUZ_qNbLuyzIoRVlyXuP8I0XJUBauEfo1H2qI0rMgaUPCGzC6Zqr0VvG6xElSQG3JxirJabKFWCbxYnYx
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      X-Zipkin-Id:
      - d36dadde7d70d9d0
      X-Routing-Service:
      - routing-main--useast1-5db947469f-2dcz5; site=public_api_v3
      X-Cloudmap:
      - routing_useast1
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-133-10-useast1bprod
      X-Extlb:
      - 10-65-133-10-useast1bprod
    body:
      encoding: UTF-8
      string: '{"error": {"code": "LOCATION_NOT_FOUND", "description": "Could not
        execute search, try specifying a more exact location."}}'
  recorded_at: Mon, 08 Aug 2022 16:32:51 GMT
recorded_with: VCR 6.1.0
