---
http_interactions:
- request:
    method: get
    uri: https://api.unsplash.com/search/photos?client_id=NvrSLAW9ekA2Wahu-OvQBFmpxnVwW_R6JfDWbDC-Z3g&page=1&per_page=1&query=denver
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Unsplash-Version:
      - v1
      Warning:
      - The tags property in this endpoint is deprecated. https://changelog.unsplash.com/deprecations/2021/07/12/tags-search-deprecation.html
      Link:
      - <https://api.unsplash.com/search/photos?client_id=NvrSLAW9ekA2Wahu-OvQBFmpxnVwW_R6JfDWbDC-Z3g&page=2551&per_page=1&query=denver>;
        rel="last", <https://api.unsplash.com/search/photos?client_id=NvrSLAW9ekA2Wahu-OvQBFmpxnVwW_R6JfDWbDC-Z3g&page=2&per_page=1&query=denver>;
        rel="next"
      X-Total:
      - '2551'
      X-Per-Page:
      - '1'
      Content-Language:
      - en
      Etag:
      - W/"beee3a3683bd6cca8e8b463d299bc84d"
      X-Ratelimit-Limit:
      - '50'
      X-Ratelimit-Remaining:
      - '42'
    body:
      encoding: ASCII-8BIT
      string: '{"total":2551,"total_pages":2551,"results":[{"id":"r6BdUpN_iSk","created_at":"2019-11-09T11:07:11Z","updated_at":"2022-08-08T19:08:35Z","promoted_at":null,"width":3913,"height":2201,"color":"#0c2659","blur_hash":"LKF$@hBnGF@]}]GYF=id#7n$jGPS","description":null,"alt_description":"Denver
        street artowrk","urls":{"raw":"https://images.unsplash.com/photo-1573297627466-6bed413a43f1?ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0\u0026ixlib=rb-1.2.1","full":"https://images.unsplash.com/photo-1573297627466-6bed413a43f1?crop=entropy\u0026cs=tinysrgb\u0026fm=jpg\u0026ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0\u0026ixlib=rb-1.2.1\u0026q=80","regular":"https://images.unsplash.com/photo-1573297627466-6bed413a43f1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=1080","small":"https://images.unsplash.com/photo-1573297627466-6bed413a43f1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=400","thumb":"https://images.unsplash.com/photo-1573297627466-6bed413a43f1?crop=entropy\u0026cs=tinysrgb\u0026fit=max\u0026fm=jpg\u0026ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0\u0026ixlib=rb-1.2.1\u0026q=80\u0026w=200","small_s3":"https://s3.us-west-2.amazonaws.com/images.unsplash.com/small/photo-1573297627466-6bed413a43f1"},"links":{"self":"https://api.unsplash.com/photos/r6BdUpN_iSk","html":"https://unsplash.com/photos/r6BdUpN_iSk","download":"https://unsplash.com/photos/r6BdUpN_iSk/download?ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0","download_location":"https://api.unsplash.com/photos/r6BdUpN_iSk/download?ixid=MnwzNTM4OTJ8MHwxfHNlYXJjaHwxfHxkZW52ZXJ8ZW58MHx8fHwxNjYwMDU4OTQ0"},"categories":[],"likes":114,"liked_by_user":false,"current_user_collections":[],"sponsorship":null,"topic_submissions":{},"user":{"id":"_i9h5vnI7Dk","updated_at":"2022-08-07T02:39:19Z","username":"planner1963","name":"Pieter
        van de Sande","first_name":"Pieter","last_name":"van de Sande","twitter_username":"PieterKoolhoven","portfolio_url":null,"bio":null,"location":null,"links":{"self":"https://api.unsplash.com/users/planner1963","html":"https://unsplash.com/@planner1963","photos":"https://api.unsplash.com/users/planner1963/photos","likes":"https://api.unsplash.com/users/planner1963/likes","portfolio":"https://api.unsplash.com/users/planner1963/portfolio","following":"https://api.unsplash.com/users/planner1963/following","followers":"https://api.unsplash.com/users/planner1963/followers"},"profile_image":{"small":"https://images.unsplash.com/profile-1571821634755-dfe07da83209image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=32\u0026h=32","medium":"https://images.unsplash.com/profile-1571821634755-dfe07da83209image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=64\u0026h=64","large":"https://images.unsplash.com/profile-1571821634755-dfe07da83209image?ixlib=rb-1.2.1\u0026crop=faces\u0026fit=crop\u0026w=128\u0026h=128"},"instagram_username":"pietervandesandeme.com","total_collections":5,"total_likes":98,"total_photos":60,"accepted_tos":true,"for_hire":false,"social":{"instagram_username":"pietervandesandeme.com","portfolio_url":null,"twitter_username":"PieterKoolhoven","paypal_email":null}},"tags":[{"type":"search","title":"verenigde
        staten"},{"type":"search","title":"denver"},{"type":"search","title":"colorado"}]}]}'
  recorded_at: Tue, 09 Aug 2022 15:56:32 GMT
recorded_with: VCR 6.1.0
