---
http_interactions:
- request:
    method: get
    uri: http://www.mapquestapi.com/geocoding/v1/address?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
      Geocodetransactioncount:
      - '1'
      Last-Modified:
      - Mon, 08 Aug 2022 01:13:15 GMT
      Reversegeocodetransactioncount:
      - '0'
      Status:
      - success
      Transactionweight:
      - '1.0'
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"\u00A9 2022 MapQuest,
        Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"\u00A9
        2022 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"thumbMaps":true,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"282041090","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-1&scalebar=true&zoom=12&rand=1772325601"},{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"","adminArea5Type":"City","adminArea4":"Denver
        County","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A4XAX","geocodeQuality":"COUNTY","dragPoint":false,"sideOfStreet":"N","linkId":"282932003","unknownInput":"","type":"s","latLng":{"lat":39.738453,"lng":-104.984853},"displayLatLng":{"lat":39.738453,"lng":-104.984853},"mapUrl":"http://www.mapquestapi.com/staticmap/v5/map?key=6mJnxYDv77zmgbnq47B2NHb2AsVj5TCb&type=map&size=225,160&locations=39.738453,-104.984853|marker-sm-50318A-2&scalebar=true&zoom=9&rand=-984373161"}]}]}'
  recorded_at: Mon, 08 Aug 2022 01:13:15 GMT
- request:
    method: get
    uri: https://api.openweathermap.org/data/2.5/onecall?appid=f5eb801f62b34ffdb566872965d38f5d&exclude=minutely,alerts&lat=39.738453&lon=-104.984853&units=imperial
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"lat":39.7385,"lon":-104.9849,"timezone":"America/Denver","timezone_offset":-21600,"current":{"dt":1659921195,"sunrise":1659873875,"sunset":1659924411,"temp":67.39,"feels_like":67.35,"pressure":1019,"humidity":75,"dew_point":59.2,"uvi":0.03,"clouds":100,"visibility":10000,"wind_speed":8.01,"wind_deg":83,"wind_gust":18.01,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"rain":{"1h":1.13}},"hourly":[{"dt":1659920400,"temp":67.39,"feels_like":67.35,"pressure":1019,"humidity":75,"dew_point":59.2,"uvi":0.03,"clouds":100,"visibility":10000,"wind_speed":1.52,"wind_deg":355,"wind_gust":2.75,"weather":[{"id":501,"main":"Rain","description":"moderate
        rain","icon":"10d"}],"pop":0.92,"rain":{"1h":2.51}},{"dt":1659924000,"temp":67.06,"feels_like":67.08,"pressure":1019,"humidity":77,"dew_point":59.61,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.96,"wind_deg":101,"wind_gust":8.52,"weather":[{"id":804,"main":"Clouds","description":"overcast
        clouds","icon":"04d"}],"pop":0.72},{"dt":1659927600,"temp":66.78,"feels_like":66.72,"pressure":1020,"humidity":76,"dew_point":58.98,"uvi":0,"clouds":100,"visibility":10000,"wind_speed":6.04,"wind_deg":119,"wind_gust":6.[...]
